<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.2/phpunit.xsd"
    bootstrap="./src/bootstrap.php"
    cacheTokens="false"
    colors="true"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="true"
    convertErrorsToExceptions="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    verbose="true"
>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
            <exclude>./tests/Db/Mysql/</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>display</group>
        </exclude>
    </groups>

</phpunit>