"doctrine/annotations"
"doctrine/instantiator"
"hoa/console"
"hoa/event"
"league/plates"
"monolog/monolog"
"mnapoli/silly"
"php-di/php-di"
"propel/propel"
 
"symfony/console"
"symfony/dotenv"
"symfony/maker-bundle"
"symfony/twig-bundle"
"symfony/yaml"

"behat/behat"
"behat/mink"
"filp/whoops"
"fzaninotto/faker"
"mockery/mockery"
